<mat-card class="example-card">
  <mat-card-content>
    <div class="card-content" style="margin: 50px">
      <div class="image-container">
        <img mat-card-image src="assets/icon/logoComplete.png" alt="Imagen">
      </div>
      <div class="text-container">
        <h2 style="text-align: center;">Contact Us</h2>
        <div class="text-center">
          <div style=" display: flex;
          justify-content: center;
          align-items: center;">
            <mat-icon style="transform: scale(1.5); margin-right: 10px; margin-top: -7px;">mail_outline</mat-icon>
            <p style="font-size: 25px;">{{ mail }}</p>
          </div>
          <div style=" display: flex;
          justify-content: center;
          align-items: center;">
            <mat-icon style="transform: scale(1.5); margin-right: 10px; margin-top: -7px;">phone</mat-icon>
            <p style="font-size: 25px;">{{ phone }}</p>
          </div>
        </div>
        <div class="social-icons text-center">
          <a href="https://www.facebook.com/counter.designnyc/" target="_blank">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/counter.design.nyc" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://twitter.com/tuPerfil" target="_blank">
            <i class="bi bi-twitter-x"></i>
          </a>
          <!-- <i class="bi bi-twitter"></i> V2 TWITTER -->
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>