.example-card {
  max-width: 100%;
  margin: 20px; /* Reduced margin for better mobile view */
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; /* Allows content to wrap on smaller screens */
}

.image-container {
  flex: 1;
  padding: 20px;
  align-content: end;
}

.image-container img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between contact items */
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-icon {
  transform: scale(1.5);
  margin-right: 10px;
}

.social-icons a {
  color: white;
  font-size: 32px;
  margin: 0 10px;
}

.social-icons a:hover {
  color: #949494;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .card-content {
    flex-direction: column;
    align-items: center;
  }

  .image-container,
  .text-container {
    width: 100%;
    padding: 10px;
  }

  .contact-icon {
    transform: scale(1.2);
  }

  .social-icons a {
    font-size: 24px;
  }
}
