<mat-card class="example-card">
  <mat-card-content>
    <div class="card-content" style="align-self: center;">
      <div class="image-container">
        <img mat-card-image src="assets/icon/logoComplete.png" alt="Imagen">
      </div>
      <div class="text-container">
        <h2 class="text-center">Contact Us</h2>
        <div class="contact-info">
          <div class="contact-item">
            <mat-icon class="contact-icon">mail_outline</mat-icon>
            <p>{{ mail }}</p>
          </div>
          <div class="contact-item">
            <mat-icon class="contact-icon">phone</mat-icon>
            <p>{{ phone }}</p>
          </div>
        </div>
        <div class="social-icons text-center">
          <a href="https://www.facebook.com/counter.designnyc/" target="_blank">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/counter.design.nyc" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://twitter.com/tuPerfil" target="_blank">
            <i class="bi bi-twitter-x"></i>
          </a>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
