<div class="satisfied-clients">
  <h1 class="text-center">Satisfied Clients</h1>
  <br>
  <div class="card-container">
    <div class="swiper-container-wrapper">
      <swiper-container [config]="swiperOptions" scrollbar-hide="true" autoplay-delay="4000"
        autoplay-disable-on-interaction="false" slides-per-view="2" space-between="30">
        <swiper-slide class="slide-content" *ngFor="let card of cards">
          <mat-card class="example-card">
            <mat-card-header>
              <div class="card-header-content">
                <div class="circular-image">
                  <img [src]="card.image" alt="Card Image">
                </div>
                <div class="title-with-stars">
                  <mat-card-title>{{ card.title }}</mat-card-title>
                  <mat-card-subtitle>
                    <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]">star</mat-icon>
                  </mat-card-subtitle>
                </div>
              </div>
            </mat-card-header>
            <br>
            <mat-card-content>
              {{ card.text }}
            </mat-card-content>
          </mat-card>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>