.navbar {
  background-color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra con desplazamiento vertical de 2px y desenfoque de 4px */
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  position: relative;
  overflow: hidden;
  /* Asegura que el pseudo-elemento no se salga del contenedor */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  /* Color blanco con 20% de opacidad */
  border-radius: 8px;
  /* Ajusta el valor para redondear las esquinas */
  opacity: 0;
  transition: opacity 0.3s, border-radius 0.3s;
}

.navbar-nav .nav-link:hover::after {
  opacity: 1;
}

.navbar-nav .nav-link {
  font-size: 18px;
  /* Cambia el tamaño de la fuente según sea necesario */
}

.navbar-nav .nav-item {
  margin-right: 15px; /* Ajusta el valor según sea necesario */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

/* Estilos adicionales para el menú en dispositivos móviles */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: black;
    /* Hace que el fondo del menú sea negro en dispositivos móviles */
    padding: 10px;
    /* Añade un poco de padding alrededor del menú */
  }

  .navbar-nav {
    flex-direction: column;
    /* Alinea los elementos del menú en una columna */
  }

  .navbar-nav .nav-item {
    margin-right: 0;
    /* Elimina el margen derecho de los elementos del menú */
    margin-bottom: 10px;
    /* Añade margen inferior entre los elementos del menú */
  }

  .navbar-nav .nav-item:last-child {
    margin-bottom: 0;
    /* Elimina el margen inferior del último elemento del menú */
  }

  .navbar-nav .nav-link {
    text-align: center;
    /* Centra el texto de los enlaces del menú */
    padding: 10px 0;
    /* Añade padding arriba y abajo de los enlaces del menú */
  }
}
