<div class="containerSwiper" style="--swiper-theme-color: #ff0000;">
    <div class="overlay-text">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
    </div>
    <div>
        <swiper-container class="mySwiper" scrollbar-hide="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide><img src="assets/img/horizontal/image02.jpg" alt=""></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/image02.jpg" alt=""></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/image02.jpg" alt=""></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/image02.jpg" alt=""></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/image02.jpg" alt=""></swiper-slide>
        </swiper-container>
    </div>
</div>