<div class="containerSwiper" style="--swiper-theme-color: #ff0000;">
    <div class="overlay-text">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
    </div>
    <div>
        <swiper-container class="mySwiper" scrollbar-hide="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide><img src="assets/img/horizontal/bat1.jpg" alt="Image 1"></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/bat2.jpg" alt="Image 2"></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/bat3.jpg" alt="Image 3"></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/bat6.jpg" alt="Image 4"></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/bat7.jpg" alt="Image 5"></swiper-slide>
            <swiper-slide><img src="assets/img/horizontal/bat4.jpg" alt="Image 6"></swiper-slide>
        </swiper-container>
    </div>
</div>
