<mat-card class="example-card">
  <div class="card-content" style="margin: 50px">
    <div class="swiper-container-wrapper" style="margin: 50px; margin-right: 10px;">
      <swiper-container scrollbar-hide="true" autoplay-delay="3500" autoplay-disable-on-interaction="false">
        <swiper-slide class="slide-content">
          <img src="assets/img/top/image1.jpg" alt="">
        </swiper-slide>
        <swiper-slide class="slide-content">
          <img src="assets/img/top/image2.jpg" alt="">
        </swiper-slide>
        <swiper-slide class="slide-content">
          <img src="assets/img/top/image3.jpg" alt="">
        </swiper-slide>
        <swiper-slide class="slide-content">
          <img src="assets/img/top/image4.jpg" alt="">
        </swiper-slide>
        <swiper-slide class="slide-content">
          <img src="assets/img/top/image5.jpg" alt="">
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="text-container" style="margin: 10px">
      <mat-card-header>
        <mat-card-title class="text-center">{{titleHeader}}</mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
        {{longText}}
      </mat-card-content>
      <br>
      <mat-card-header>
        <mat-card-title class="text-center">Counter & Design NYC</mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content>
        {{longTextSecond}}
      </mat-card-content>
    </div>
  </div>
</mat-card>