.example-card {
  display: flex;
  flex-direction: row;
  align-items: stretch; /* Asegura que ambos contenedores tengan la misma altura */
}

.card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.text-container {
  flex: 2;
  padding: 16px; /* Ajusta el espacio entre los elementos según sea necesario */
}

.mat-card-header {
  display: flex;
  flex-direction: column;
}

.mat-card-title, .mat-card-subtitle {
  margin: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-title {
  text-align: center; /* Centra el texto dentro de los títulos de las tarjetas */
  font-size: 50px;
  user-select: none; 
}

mat-card-content {
  text-align: justify; /* Justifica el texto a ambos lados dentro del contenido de las tarjetas */
  font-size: 20px;
  user-select: none; 
}

.swiper-container-wrapper {
  position: relative;
  width: 500px;  /* Ancho fijo del contenedor */
  height: 500px; /* Alto fijo del contenedor para mantener la proporción 1:1 */
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen cubra el área del contenedor */
}
