<!-- Añadir identificadores a las secciones -->
<section id="home">
    <app-navbar></app-navbar>
    <app-slider1></app-slider1>
</section>
<section id="about" class="section-offset">
    <app-card1></app-card1>
</section>
<section id="clients">
    <app-clients></app-clients>
</section>
<section id="services" class="section-offset">
    <app-services></app-services>
</section>
<section id="contact-us" class="section-offset">
    <app-contact-us></app-contact-us>
</section>
<section id="footer" class="section-offset">
    <div style="height: 120px; display: flex; justify-content: center; align-items: center;">
        <h2>NyC Counter & Design &copy; 2024</h2>
    </div>
</section>