.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Posiciona el contenedor como relativo para que los absolutos se posicionen en relación a él */
}

.example-card {
  width: 90%;
  max-width: 90%; /* Ajusta el ancho máximo según sea necesario */
  height: 200px; /* Ajusta la altura según sea necesario */
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-bottom: 30px; /* Espacio entre las tarjetas */
  position: relative; /* Asegura que la tarjeta pueda recibir posiciones absolutas dentro de ella */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Asegura que la imagen cubra toda la tarjeta */
}

.overlay-text {
  top: 50%; /* Alinea el texto verticalmente en el centro */
  left: 50%; /* Alinea el texto horizontalmente en el centro */
  transform: translate(-50%, -50%); /* Ajusta la posición para que el centro del texto coincida con el centro de la tarjeta */
  color: white; /* Ajusta el color del texto según el fondo de la tarjeta */
  text-align: center; /* Centra el texto dentro del contenedor */
  position: absolute;
  z-index: 10;
  /* Asegura que el texto esté por encima del Swiper */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Ejemplo de sombra */
  user-select: none; /* Desactiva la selección de texto */
  
}
.overlay-text h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.overlay-text p {
  font-size: 16px;
}

/* Consultas de medios para dispositivos más pequeños */
@media (max-width: 768px) {
  .example-card {
    width: 100%; /* Ajusta el ancho de las tarjetas en dispositivos móviles */
    height: 150px; /* Reduce la altura de las tarjetas en dispositivos móviles */
  }

  .overlay-text h1 {
    font-size: 6vw; /* Ajusta el tamaño del texto en dispositivos móviles */
  }
}

@media (max-width: 480px) {
  .example-card {
    height: 120px; /* Reduce aún más la altura de las tarjetas en dispositivos muy pequeños */
  }

  .overlay-text h1 {
    font-size: 8vw; /* Ajusta el tamaño del texto en dispositivos muy pequeños */
  }
}
