.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a múltiples filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas */
    margin: 20px;
  }
  
  .example-card {
    width: 90%;
    max-width: 400px; /* Ancho máximo de las tarjetas */
    height: 200px;
    border-radius: 20px; /* Cambiado a 20px para una apariencia más consistente en dispositivos móviles */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s; /* Añade una transición suave */
  }
  
  .example-card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    user-select: none;
  }
  
  .overlay-text h1 {
    font-size: 4vw; /* Escala el tamaño del texto con el ancho de la ventana */
    margin: 0.5em 0;
  }
  
  /* Consultas de medios para dispositivos más pequeños */
  @media (max-width: 768px) {
    .example-card {
      width: 100%; /* Ajusta el ancho de las tarjetas en dispositivos móviles */
      height: 150px; /* Reduce la altura de las tarjetas en dispositivos móviles */
    }
  
    .overlay-text h1 {
      font-size: 6vw; /* Ajusta el tamaño del texto en dispositivos móviles */
    }
  }
  
  @media (max-width: 480px) {
    .example-card {
      height: 120px; /* Reduce aún más la altura de las tarjetas en dispositivos muy pequeños */
    }
  
    .overlay-text h1 {
      font-size: 8vw; /* Ajusta el tamaño del texto en dispositivos muy pequeños */
    }
  }
  