
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
a,
li,
span {
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

html {
  scroll-behavior: smooth;
}

